<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tresscore</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
	<!-- 	<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property> -->
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="tres.domain.Province" />
		<mapping class="tres.domain.District" />
		<mapping class="tres.domain.Sector" />
		<mapping class="tres.domain.UserCategory" />
		<mapping class="tres.domain.Users" />
		<mapping class="tres.domain.LoginHistoric" />
		<mapping class="tres.domain.Cell" />
		<mapping class="tres.domain.Village" />
		<mapping class="tres.domain.InstitutionRegistrationRequest" />
		<mapping class="tres.domain.StrategicPlan" />
		<mapping class="tres.domain.Task" />
		<mapping class="tres.domain.Activity" />
		<mapping class="tres.domain.Board" />
		<mapping class="tres.domain.Contact" />
		<mapping class="tres.domain.Institution" />
		<mapping class="tres.domain.Country" />
		<mapping class="tres.domain.ListOfMenu" />
		<mapping class="tres.domain.MenuGroup" />
		<mapping class="tres.domain.MenuAssignment" />
		<mapping class="tres.domain.Evaluation" />
		<mapping class="tres.domain.Documents" />
		<mapping class="tres.domain.UploadingFiles" />
		<mapping class="tres.domain.UploadingActivity" />
		<mapping class="tres.domain.UploadingStrategicPlan" />
		<mapping class="tres.domain.PaymentRecords" />
		<mapping class="tres.domain.TaskAssignment" />
		<mapping class="tres.domain.InstitutionEscaletePolicy" />
	</session-factory>
</hibernate-configuration>

